Repository open-education-hub/methodology, pull requests merged in 2023-12, with the labels that each got.

#40 develop-organize: add overview section
  chapters/develop-organize/overview/reading/README.md
Labels: topic/develop-organize

#41 infrastructure: add digital-rewards section
  chapters/infrastructure/digital-rewards/media/smileycoin-workflow.svg
  chapters/infrastructure/digital-rewards/reading/README.md
  config.yaml
Labels: documentation, enhancement

#30 `dev-org`: Add full contents for Guides
  chapters/develop-organize/guides/reading/README.md
Labels: documentation

#53 dev-org/slides: Fill contents
  chapters/develop-organize/slides/reading/read.md
Labels: topic/develop-organize, kind/improve

#54 build-blocks/conventions: Fill contents
  chapters/building-blocks/conventions/reading/read.md
Labels: kind/new, topic/building-blocks

#52 roles: Fill content
  chapters/roles/overview/media/content-curator.svg
  chapters/roles/overview/media/content-developer.svg
  chapters/roles/overview/media/contributor.svg
  chapters/roles/overview/media/deploying-content.svg
  chapters/roles/overview/media/educator.svg
  chapters/roles/overview/media/infrastructure-manager.svg
  chapters/roles/overview/media/learner.svg
  chapters/roles/overview/media/roles-overall.svg
  chapters/roles/overview/reading/read.md
Labels: topic/roles, kind/improve

#55 config: Add `media/` folder to the "Roles" chapter
  config.yaml
Labels: bug, kind/fix

#56 use-deliver/overview: Fill contents
  chapters/use-deliver/overview/reading/read.md
Labels: kind/new, topic/use-deliver

#57 infrastructure/overview: Fill contents
  chapters/infrastructure/overview/reading/read.md
Labels: kind/new, topic/infrastructure

#58 infrastructure/collaboration: Fill contents
  chapters/infrastructure/collaboration/reading/read.md
Labels: kind/new, topic/infrastructure

#59 infrastructure/checkers: Fill contents
  chapters/infrastructure/checkers/media/vmchecker-arch.png
  chapters/infrastructure/checkers/reading/read.md
  config.yaml
Labels: kind/new, topic/infrastructure
